<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <title>@ViewBag.Title - My ASP.NET MVC Application</title>
        <link href="~/favicon.ico" rel="shortcut icon" type="image/x-icon" />
        <link href='http://fonts.googleapis.com/css?family=Cherry+Swash' rel='stylesheet' type='text/css'>
        <link rel="stylesheet" href="~/Content/buttons.css">
        <meta name="viewport" content="width=device-width" />
        @Styles.Render("~/Content/css")
        @Scripts.Render("~/bundles/modernizr")
        @Styles.Render("~/Content/bootstrap")
    </head>
    <body>
        <header class="text-center">
            <b>lecan.com </b>乐餐网<br />
            <span>轻松外卖，快乐就餐！</span>
            @if (Request.IsAuthenticated)
            {
                <text>
            <a href=@Url.Content("/account/logoff") class="button button-flat-highlight float_right">@User.Identity.Name /注销</a>
                </text>
            }
            else
            {            
                 <a href=@Url.Content("/account/login") class="button button-flat-highlight float_right">登录/注册</a>
            }

        </header>

        <div id="body">
            @RenderSection("featured", required: false)
            <section class="content-wrapper main-content clear-fix">
                @RenderBody()
            </section>
        </div>
        <footer>
            <div class="content-wrapper">
                <div class="float-left">
                    <p class="text-center" >&copy; @DateTime.Now.Year - LeCan.com 乐餐网</p>
                </div>
            </div>
        </footer>

        @Scripts.Render("~/bundles/jquery")
        @RenderSection("scripts", required: false)
    </body>
</html>
